<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>EM: Disabled to allow XS Eng to investigate cosmos death.&#xd;
</description>
  <logRotator>
    <daysToKeep>-1</daysToKeep>
    <numToKeep>100</numToKeep>
    <artifactDaysToKeep>-1</artifactDaysToKeep>
    <artifactNumToKeep>-1</artifactNumToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.RunParameterDefinition>
          <name>Build</name>
          <description></description>
          <projectName>os-vpx-build-cmb</projectName>
        </hudson.model.RunParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>Ballooning</name>
          <description>Check this flag if you want to test the VPX with memory ballooning enabled. Default true (cookbook is short on memory).</description>
          <defaultValue>true</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>Master_memory</name>
          <description>Set this value to the amount of memory that you want to give to the VPX master. Default 700MiB.</description>
          <defaultValue>700</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>Slave_memory</name>
          <description>Set this value to the amount of memory that you want to give to a VPX slave. Default 400MiB.</description>
          <defaultValue>400</defaultValue>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.plugins.mercurial.MercurialSCM">
    <source>http://openstack-hg:81/openstack/trunk/forest.hg</source>
    <modules></modules>
    <clean>true</clean>
    <forest>false</forest>
    <browser class="hudson.plugins.mercurial.browser.HgWeb">
      <url>http://openstack-jenkins.uk.xensource.com:81/openstack/trunk/forest.hg/</url>
    </browser>
  </scm>
  <assignedNode>cambourne</assignedNode>
  <canRoam>false</canRoam>
  <disabled>true</disabled>
  <blockBuildWhenDownstreamBuilding>true</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers class="vector"/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <org.jvnet.hudson.plugins.exclusion.CriticalBlockStart/>
    <hudson.tasks.Shell>
      <command>qa.hg/jenkins/run-geppetto-test.sh</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.tasks.ArtifactArchiver>
      <artifacts>qa.hg/jenkins/*.png</artifacts>
      <latestOnly>false</latestOnly>
    </hudson.tasks.ArtifactArchiver>
    <hudson.tasks.BuildTrigger>
      <childProjects>func-remote-logging</childProjects>
      <threshold>
        <name>SUCCESS</name>
        <ordinal>0</ordinal>
        <color>BLUE</color>
      </threshold>
    </hudson.tasks.BuildTrigger>
    <hudson.plugins.claim.ClaimPublisher/>
    <hudson.plugins.cigame.GamePublisher/>
    <hudson.tasks.Mailer>
      <recipients>#openstack-commit@citrite.net</recipients>
      <dontNotifyEveryUnstableBuild>false</dontNotifyEveryUnstableBuild>
      <sendToIndividuals>false</sendToIndividuals>
    </hudson.tasks.Mailer>
  </publishers>
  <buildWrappers>
    <hudson.plugins.build__timeout.BuildTimeoutWrapper>
      <timeoutMinutes>90</timeoutMinutes>
      <failBuild>true</failBuild>
    </hudson.plugins.build__timeout.BuildTimeoutWrapper>
    <org.jvnet.hudson.plugins.exclusion.IdAllocator>
      <ids>
        <org.jvnet.hudson.plugins.exclusion.DefaultIdType>
          <name>COSMOS.ENG.CITRITE.NET</name>
        </org.jvnet.hudson.plugins.exclusion.DefaultIdType>
      </ids>
    </org.jvnet.hudson.plugins.exclusion.IdAllocator>
    <hudson.plugins.timestamper.TimestamperBuildWrapper/>
    <hudson.plugins.dumpinfo.DumpInfoBuildWrapper>
      <dumpComputers>true</dumpComputers>
      <dumpJdks>false</dumpJdks>
      <dumpPlugins>true</dumpPlugins>
      <dumpSystemProperties>true</dumpSystemProperties>
      <dumpEnvironmentVariables>true</dumpEnvironmentVariables>
    </hudson.plugins.dumpinfo.DumpInfoBuildWrapper>
  </buildWrappers>
</project>