<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>We need to look into this issue causing machines to crash.&#xd;
Until we resolve that, there&apos;s no point in running this tests. Too many false negatives.</description>
  <logRotator>
    <daysToKeep>-1</daysToKeep>
    <numToKeep>100</numToKeep>
    <artifactDaysToKeep>-1</artifactDaysToKeep>
    <artifactNumToKeep>-1</artifactNumToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.RunParameterDefinition>
          <name>Build</name>
          <description></description>
          <projectName>os-vpx-build</projectName>
        </hudson.model.RunParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>Server</name>
          <description></description>
          <defaultValue>daucus</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>Ballooning</name>
          <description>Check this flag if you want to test the VPX with memory ballooning enabled. Default true (cookbook is short on memory).</description>
          <defaultValue>true</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>Master_memory</name>
          <description>Set this value to the amount of memory that you want to give to the VPX master. Default 450MiB.</description>
          <defaultValue>700</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>Slave_memory</name>
          <description>Set this value to the amount of memory that you want to give to a VPX slave. Default 300MiB.</description>
          <defaultValue>300</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>NetworkingMode</name>
          <description></description>
          <defaultValue>flatdhcp</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.TextParameterDefinition>
          <name>GuestNetworkBridge</name>
          <description>The XenServer network (identified by the bridge) to be used for guest networking. 
This parameter will not be used if testing for Flat networking.</description>
          <defaultValue>xapi0</defaultValue>
        </hudson.model.TextParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.plugins.mercurial.MercurialSCM">
    <source>http://openstack-hg:81/openstack/trunk/forest.hg</source>
    <modules></modules>
    <clean>true</clean>
    <forest>false</forest>
    <browser class="hudson.plugins.mercurial.browser.HgWeb">
      <url>http://openstack-jenkins.uk.xensource.com:81/openstack/trunk/forest.hg/</url>
    </browser>
  </scm>
  <assignedNode>cambourne</assignedNode>
  <canRoam>false</canRoam>
  <disabled>true</disabled>
  <blockBuildWhenDownstreamBuilding>true</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers class="vector"/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>qa.hg/jenkins/run-geppetto-test.sh</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.tasks.ArtifactArchiver>
      <artifacts>qa.hg/jenkins/*.png</artifacts>
      <latestOnly>false</latestOnly>
    </hudson.tasks.ArtifactArchiver>
    <hudson.tasks.BuildTrigger>
      <childProjects>func-floatingip-test</childProjects>
      <threshold>
        <name>SUCCESS</name>
        <ordinal>0</ordinal>
        <color>BLUE</color>
      </threshold>
    </hudson.tasks.BuildTrigger>
    <hudson.plugins.claim.ClaimPublisher/>
    <hudson.plugins.cigame.GamePublisher/>
  </publishers>
  <buildWrappers>
    <hudson.plugins.build__timeout.BuildTimeoutWrapper>
      <timeoutMinutes>90</timeoutMinutes>
      <failBuild>true</failBuild>
    </hudson.plugins.build__timeout.BuildTimeoutWrapper>
    <hudson.plugins.timestamper.TimestamperBuildWrapper/>
    <hudson.plugins.dumpinfo.DumpInfoBuildWrapper>
      <dumpComputers>true</dumpComputers>
      <dumpJdks>false</dumpJdks>
      <dumpPlugins>true</dumpPlugins>
      <dumpSystemProperties>true</dumpSystemProperties>
      <dumpEnvironmentVariables>true</dumpEnvironmentVariables>
    </hudson.plugins.dumpinfo.DumpInfoBuildWrapper>
  </buildWrappers>
</project>