<?xml version='1.0' encoding='UTF-8'?>
<hudson>
  <disabledAdministrativeMonitors>
    <string>hudson.node_monitors.MonitorMarkedNodeOffline</string>
  </disabledAdministrativeMonitors>
  <version>1.492</version>
  <numExecutors>0</numExecutors>
  <mode>EXCLUSIVE</mode>
  <useSecurity>true</useSecurity>
  <authorizationStrategy class="hudson.security.AuthorizationStrategy$Unsecured"/>
  <securityRealm class="hudson.security.PAMSecurityRealm" plugin="pam-auth@1.0">
    <serviceName>sshd</serviceName>
  </securityRealm>
  <projectNamingStrategy class="jenkins.model.ProjectNamingStrategy$DefaultProjectNamingStrategy"/>
  <workspaceDir>${ITEM_ROOTDIR}/workspace</workspaceDir>
  <buildsDir>${ITEM_ROOTDIR}/builds</buildsDir>
  <markupFormatter class="hudson.markup.RawHtmlMarkupFormatter">
    <disableSyntaxHighlighting>false</disableSyntaxHighlighting>
  </markupFormatter>
  <jdks/>
  <viewsTabBar class="hudson.views.DefaultViewsTabBar"/>
  <myViewsTabBar class="hudson.views.DefaultMyViewsTabBar"/>
  <clouds/>
  <slaves>
    <slave>
      <name>silicon</name>
      <description></description>
      <remoteFS>/home/jenkins</remoteFS>
      <numExecutors>4</numExecutors>
      <mode>NORMAL</mode>
      <retentionStrategy class="hudson.slaves.RetentionStrategy$Always"/>
      <launcher class="hudson.plugins.sshslaves.SSHLauncher" plugin="ssh-slaves@0.21">
        <host>silicon.eng.hq.xensource.com</host>
        <port>22</port>
        <password>rNS3tUnlQfEmCun0o+A5ww==</password>
      </launcher>
      <label>santa-clara</label>
      <nodeProperties>
        <node-metadata plugin="metadata@1.0b">
          <values>
            <com.sonyericsson.jenkins.plugins.externalresource.dispatcher.data.ExternalResourceTreeNode plugin="externalresource-dispatcher@1.0b">
              <name>XenServers</name>
              <parent class="node-metadata" reference="../../.."/>
              <generated>false</generated>
              <exposedToEnvironment>true</exposedToEnvironment>
              <children>
                <external-resource>
                  <name>zarss</name>
                  <description></description>
                  <parent class="com.sonyericsson.jenkins.plugins.externalresource.dispatcher.data.ExternalResourceTreeNode" reference="../../.."/>
                  <generated>false</generated>
                  <exposedToEnvironment>false</exposedToEnvironment>
                  <children>
                    <metadata-string plugin="metadata@1.0b">
                      <name>version</name>
                      <parent class="external-resource" reference="../../.."/>
                      <generated>false</generated>
                      <exposedToEnvironment>false</exposedToEnvironment>
                      <value>6.1</value>
                    </metadata-string>
                    <metadata-string plugin="metadata@1.0b">
                      <name>Server</name>
                      <parent class="external-resource" reference="../../.."/>
                      <generated>false</generated>
                      <exposedToEnvironment>false</exposedToEnvironment>
                      <value>zarss.eng.hq.xensource.com</value>
                    </metadata-string>
                    <metadata-string plugin="metadata@1.0b">
                      <name>localrcURL</name>
                      <parent class="external-resource" reference="../../.."/>
                      <generated>false</generated>
                      <exposedToEnvironment>false</exposedToEnvironment>
                      <value>http://copper.eng.hq.xensource.com/localrc-zarss</value>
                    </metadata-string>
                    <metadata-number plugin="metadata@1.0b">
                      <name>numberOfServers</name>
                      <parent class="external-resource" reference="../../.."/>
                      <generated>false</generated>
                      <exposedToEnvironment>false</exposedToEnvironment>
                      <value>1</value>
                    </metadata-number>
                  </children>
                  <id>zarss</id>
                  <locked>
                    <stashedBy>job/trunk-devstack-xen-mutlijob/10/</stashedBy>
                    <type>INTERNAL</type>
                    <key>noop</key>
                  </locked>
                  <enabled>true</enabled>
                </external-resource>
              </children>
            </com.sonyericsson.jenkins.plugins.externalresource.dispatcher.data.ExternalResourceTreeNode>
          </values>
        </node-metadata>
      </nodeProperties>
      <userId>anonymous</userId>
    </slave>
  </slaves>
  <quietPeriod>5</quietPeriod>
  <scmCheckoutRetryCount>0</scmCheckoutRetryCount>
  <views>
    <hudson.model.AllView>
      <owner class="hudson" reference="../../.."/>
      <name>All</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
    </hudson.model.AllView>
  </views>
  <primaryView>All</primaryView>
  <slaveAgentPort>0</slaveAgentPort>
  <label>santa-clara</label>
  <nodeProperties/>
  <globalNodeProperties>
    <hudson.slaves.EnvironmentVariablesNodeProperty>
      <envVars serialization="custom">
        <unserializable-parents/>
        <tree-map>
          <default>
            <comparator class="hudson.util.CaseInsensitiveComparator"/>
          </default>
          <int>5</int>
          <string>PIP_DEFAULT_TIMEOUT</string>
          <string>120</string>
          <string>PIP_DOWNLOAD_CACHE</string>
          <string>/var/lib/jenkins/pip_download_cache</string>
          <string>PIP_USE_MIRRORS</string>
          <string>true</string>
          <string>SITE</string>
          <string>sc</string>
          <string>XS_ROOT_PASSWORD</string>
          <string>xenroot</string>
        </tree-map>
      </envVars>
    </hudson.slaves.EnvironmentVariablesNodeProperty>
  </globalNodeProperties>
</hudson>