<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Deploys a multi-host cloud on 4 servers, making sure each server gets a distinct compute worker.&#xd;
&#xd;
Networking mode is flat DHCP. &#xd;
</description>
  <logRotator>
    <daysToKeep>-1</daysToKeep>
    <numToKeep>5</numToKeep>
    <artifactDaysToKeep>-1</artifactDaysToKeep>
    <artifactNumToKeep>-1</artifactNumToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.RunParameterDefinition>
          <name>Build</name>
          <description>A central build, if you don&apos;t want to use PrivateBuildURL above.</description>
          <projectName>os-vpx-build</projectName>
        </hudson.model.RunParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>ManagementNetworkVLAN</name>
          <description>VLAN ID for the management network</description>
          <defaultValue>4093</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>GuestNetworkVLAN</name>
          <description>VLAN ID to be used for guest instance networking</description>
          <defaultValue>237</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>PublicNetworkVLAN</name>
          <description>VLAN ID for the published services networks</description>
          <defaultValue>238</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>NetworkingMode</name>
          <description>Network manager to employ. Adding the &quot;-ha&quot; suffix to the manager specifies HA networking configuration.</description>
          <defaultValue>flatdhcp</defaultValue>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.plugins.mercurial.MercurialSCM">
    <source>http://openstack-hg:81/openstack/trunk/forest.hg</source>
    <modules></modules>
    <clean>true</clean>
    <forest>false</forest>
    <browser class="hudson.plugins.mercurial.browser.HgWeb">
      <url>http://openstack-jenkins.uk.xensource.com:81/openstack/trunk/forest.hg/</url>
    </browser>
  </scm>
  <assignedNode>santa-clara</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>true</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers class="vector"/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>qa.hg/jenkins/run-geppetto-netsuite-test.sh</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.tasks.ArtifactArchiver>
      <artifacts>qa.hg/jenkins/*.png</artifacts>
      <latestOnly>false</latestOnly>
    </hudson.tasks.ArtifactArchiver>
    <hudson.tasks.BuildTrigger>
      <childProjects>func-netsuite-sc-guestnetworking-flatdhcp</childProjects>
      <threshold>
        <name>SUCCESS</name>
        <ordinal>0</ordinal>
        <color>BLUE</color>
      </threshold>
    </hudson.tasks.BuildTrigger>
  </publishers>
  <buildWrappers>
    <hudson.plugins.build__timeout.BuildTimeoutWrapper>
      <timeoutMinutes>90</timeoutMinutes>
      <failBuild>true</failBuild>
    </hudson.plugins.build__timeout.BuildTimeoutWrapper>
    <hudson.plugins.timestamper.TimestamperBuildWrapper/>
    <hudson.plugins.dumpinfo.DumpInfoBuildWrapper>
      <dumpComputers>true</dumpComputers>
      <dumpJdks>false</dumpJdks>
      <dumpPlugins>true</dumpPlugins>
      <dumpSystemProperties>true</dumpSystemProperties>
      <dumpEnvironmentVariables>true</dumpEnvironmentVariables>
    </hudson.plugins.dumpinfo.DumpInfoBuildWrapper>
  </buildWrappers>
</project>