<?xml version='1.0' encoding='UTF-8'?>
<hudson.plugins.promoted__builds.PromotionProcess>
  <actions/>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers class="vector"/>
  <concurrentBuild>false</concurrentBuild>
  <conditions>
    <hudson.plugins.promoted__builds.conditions.ManualCondition>
      <users></users>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>Version number</name>
          <description>Specify the OpenStack VPX version (e.g. 0.4.1, where 4 == D == Dasara, and 1 == sprint 1).
</description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.plugins.promoted__builds.conditions.ManualCondition>
    <hudson.plugins.promoted__builds.conditions.UpstreamPromotionCondition>
      <requiredPromotionNames>2-tests-passed</requiredPromotionNames>
    </hudson.plugins.promoted__builds.conditions.UpstreamPromotionCondition>
  </conditions>
  <icon>star-gold</icon>
  <buildSteps>
    <hudson.tasks.Shell>
      <command>qa.hg/jenkins/build/promote_build</command>
    </hudson.tasks.Shell>
  </buildSteps>
</hudson.plugins.promoted__builds.PromotionProcess>