<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <logRotator>
    <daysToKeep>14</daysToKeep>
    <numToKeep>-1</numToKeep>
    <artifactDaysToKeep>-1</artifactDaysToKeep>
    <artifactNumToKeep>-1</artifactNumToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.RunParameterDefinition>
          <name>Build</name>
          <description>A central build.</description>
          <projectName>os-vpx-build-manifest</projectName>
        </hudson.model.RunParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>PrivateBuildURL</name>
          <description>The URL that the VPX and associated scripts can be downloaded from.  Should be the subdirectory that contains os-vpx.xva or os-vpx-devel.xva, install-os-vpx.sh, etc.

If you want to use a central build instead, use Build above.</description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>Server</name>
          <description>Leave blank to use the default test machine on the specified site.  This will &lt;b&gt;completely wipe&lt;/b&gt; the machine!  Use ssh-upload-jenkins-keys from root@openstack-jenkins.uk.xensource.com to allow remote login.</description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
        <org.jvnet.jenkins.plugins.nodelabelparameter.LabelParameterDefinition>
          <name>SiteLabel</name>
          <description>One of &quot;bengaluru&quot;, &quot;cambridge&quot;, &quot;cambourne, &quot;redmond&quot;, or &quot;santa-clara&quot;.

Make sure that this matches the Server and PrivateBuildURL parameters above!  If you get this wrong, then you will end up streaming VM images from one site to another, and the build will time out.
</description>
          <defaultValue></defaultValue>
        </org.jvnet.jenkins.plugins.nodelabelparameter.LabelParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>Password</name>
          <description>The XenServer root password.  Leave blank to use the default site password.</description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>Ballooning</name>
          <description>Check to enable memory ballooning.</description>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>Devel</name>
          <description>Whether to use the os-vpx-devel build, as opposed to the release build.</description>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>XSManagementNIC</name>
          <description>The XenServer NIC on which to create the Single-Server Private Network.</description>
          <defaultValue>eth1</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>GuestNetwork</name>
          <description>This is the network being created by default during the OpenStack cloud setup.</description>
          <defaultValue>--fixed_range_v4=10.0.0.0/24 --label private</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>EmailAddress</name>
          <description>The email address to register with the Dashboard.  Leave blank to use the site default (if set).</description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>ManagementNetwork</name>
          <description>The network or bridge to use for management traffic (i.e. eth1 in the VPX).</description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.plugins.git.GitSCM">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <name>origin</name>
        <refspec>+refs/heads/*:refs/remotes/origin/*</refspec>
        <url>http://github.com/citrix-openstack/qa</url>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>everett</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <recursiveSubmodules>false</recursiveSubmodules>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <authorOrCommitter>false</authorOrCommitter>
    <clean>true</clean>
    <wipeOutWorkspace>false</wipeOutWorkspace>
    <pruneBranches>false</pruneBranches>
    <buildChooser class="hudson.plugins.git.util.DefaultBuildChooser"/>
    <gitTool>Default</gitTool>
    <submoduleCfg class="list"/>
    <relativeTargetDir></relativeTargetDir>
    <excludedRegions></excludedRegions>
    <excludedUsers></excludedUsers>
    <gitConfigName></gitConfigName>
    <gitConfigEmail></gitConfigEmail>
    <skipTag>false</skipTag>
    <scmName></scmName>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>true</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers class="vector"/>
  <concurrentBuild>true</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>jenkins/run-single-host-suite.sh</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.tasks.ArtifactArchiver>
      <artifacts>jenkins/*.png</artifacts>
      <latestOnly>false</latestOnly>
    </hudson.tasks.ArtifactArchiver>
  </publishers>
  <buildWrappers>
    <hudson.plugins.build__timeout.BuildTimeoutWrapper>
      <timeoutMinutes>90</timeoutMinutes>
      <failBuild>true</failBuild>
    </hudson.plugins.build__timeout.BuildTimeoutWrapper>
    <hudson.plugins.timestamper.TimestamperBuildWrapper/>
    <hudson.plugins.dumpinfo.DumpInfoBuildWrapper>
      <dumpComputers>true</dumpComputers>
      <dumpJdks>false</dumpJdks>
      <dumpPlugins>true</dumpPlugins>
      <dumpSystemProperties>true</dumpSystemProperties>
      <dumpEnvironmentVariables>true</dumpEnvironmentVariables>
    </hudson.plugins.dumpinfo.DumpInfoBuildWrapper>
  </buildWrappers>
</project>